<% content_for :title do %>
<%= @page_name %>
<% end %>

<% content_for :content do %>

<h1 class="page-header"><%= @page_name %>
    <small>Management</small>
</h1>

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="javascript:void(0);">Master</a></li>
    <li><a href="<%= customers_path %>"><%= @page_name %></a></li>
    <li class="active">Detail</li>
</ol>

<%= render "shared/alert" %>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="clearfix">
            <div class="pull-left">
                <i class="fa fa-search"></i>&nbsp;<strong>Detail</strong>
            </div>
            <div class="pull-right">
                <%= link_to '<i class="fa fa-rotate-left"></i>&nbsp;Back'.html_safe, customers_path,  class: "btn btn-sm btn-primary" %>
                <%= link_to '<i class="fa fa-plus"></i>&nbsp;Create New'.html_safe, new_customer_path,  class: "btn btn-sm btn-success" %>
                <%= link_to '<i class="fa fa-edit"></i>&nbsp;Edit Data'.html_safe, edit_customer_url(@customer),  class: "btn btn-sm btn-warning" %>
                <%= link_to '<i class="fa fa-trash"></i>&nbsp;Delete'.html_safe, customer_path(@customer),  class: "btn btn-sm btn-danger", id: "btn-delete-data" %>
                <%= form_for(@customer, :html => { :method => :delete, :remote => true, :id => "form-delete" }) do |f| %>  
                   <input type="hidden" name="is_ajax" value="n" />
                   <%= token_tag %> 
                <% end %>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Name :</label>
                <div class="col-sm-10">
                    <p class ="form-control-static"><%= @customer.name %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Phone :</label>
                <div class="col-sm-10">
                    <p class ="form-control-static"><%= @customer.phone %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Email :</label>
                <div class="col-sm-10">
                    <p class ="form-control-static"><%= @customer.email %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Website :</label>
                <div class="col-sm-10">
                    <p class ="form-control-static"><%= @customer.website %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Address :</label>
                <div class="col-sm-10">
                    <p class ="form-control-static"><%= @customer.address %></p>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer"></div>
</div>


<% end %>
